<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex">
        <span class="text-white">&copy; COVID Supply</span>
        <div class="text-white ms-auto">Developed by Shafiqur Rahman</div>
    </div>
</footer>
